.hero-image-coll {
  background-color: #AFAFAF;
  width:100%;
  padding: 100px 60px;
  color:#fff;
}

.hero-text-coll {
  display: block;
  position: relative;
  color: black;

  h2 {
    font-weight: 700;
    font-size: 2.5em;
    text-transform: uppercase;
  }
}

.my-collection-section {
  padding-top: 70px;

  h6 {
    text-align: center;
    padding: 50px;
  }
}

.my-collection {
  display: flex;
  justify-content: flex-start;
  width: 1250px;
  margin: auto;
  flex-flow: row wrap;
  text-align: left;
}

.card {
  margin: 40px;
}

.view-price {
  margin-bottom: 10px;
}

.single-album {
  background-color: black;
  padding: 100px 0px;
  color: white;
}

.single-img {
  margin: auto;
  text-align: center;
  border: 7px solid white;
}

.marketplace-data {
  background-color: #dfb921;
  padding: 20px;
  color: black;
  font-weight: 500;
  width: 300px;
  padding-bottom: 7px;

  h6 {
    font-weight: bold;
    padding-bottom: 10px;
  }
}

