.sign-out {
  border: 2px solid #dfb921;
  background-color: #2b2b2b;
  padding: 5px 20px;
  color: #dfb921;
  border-radius: 0px;
}

.sign-in {
  background-color: #dfb921;
  border: none;
  font-weight: bold;
  padding: 7px 20px;
  color: white;
  border-radius: 0px;
}
.navbar-logo {
  width: 250px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #dfb921;
}