.hero-image-search {
  background-color: black;
  width:100%;
  padding: 100px 60px;
  color:#fff;
}

.hero-text-search {
  display: block;
  position: relative;
  color: white;

  h2 {
    font-weight: 700;
    font-size: 2.5em;
    text-transform: uppercase;
  }
}

.filter-buttons {
  text-transform: uppercase;
  background-color: grey;
  color: white;
  font-weight: 600;
  font-size: .8em;
  margin: 10px 20px;
  padding: 5px 20px;
}