@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'homeStyles';
@import 'navStyles';
@import 'searchStyles';
@import 'collectionStyles';
@import 'gearStyles';
@import 'footerStyles';

body {
  font-family: $primary-font;
  background-color: #1a1a1a;
  color: white;
}

.card {
  width: 300px;
  margin-bottom: 40px;
  border: none;
  // box-shadow: 0 4px 20px 0 rgba(95, 95, 95, 0.089), 0 6px 20px 0 rgba(100, 100, 100, 0.13);
  border-radius: 13px;
  background-color: #2b2b2b;

  h5 {
    padding-bottom: 15px;
  }
}

.card-link {
  color: #dfb921;
}

.card-link:hover {
  color: white;
}

.my-search {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

h2 {
  text-align: center;
}

.search-form {
  padding: 60px;
}

.filter-btns {
  text-align: center;
  padding-bottom: 20px;
}

.dark-modal {
  color: #2b2b2b;
}