@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import 'homeStyles';
@import 'navStyles';
@import 'searchStyles';

.card {
  width: 300px;
  margin-bottom: 40px;
}

.my-search {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

h2 {
  text-align: center;
}

.search-form {
  padding: 60px;
}

.filter-btns {
  text-align: center;
  padding-bottom: 20px;
}